streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
googletrans==4.0.0-rc1
google-cloud-translate
pillow
pyttsx3
SpeechRecognition
langdetect
textblob
